In [1]:
import pandas as pd

In [7]:
titanic = pd.read_csv("titanic.csv")

In [8]:
titanic.head()

,ssengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<h1>How do I select a subset of a <code>DataFrame?</code></h1>

<h2>How do I select specific columns from a <code><span>DataFrame</span></code>?</h2>

![image.png]()

<p>I’m interested in the age of the Titanic passengers.</p>

In [10]:
ages = titanic["Age"]

In [11]:
ages.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

<p>To select a single column, use square brackets <code>[]</code> with the column
name of the column of interest.</p>

<p>Each column in a <a href="../../reference/api/pandas.DataFrame.html#pandas.DataFrame" title="pandas.DataFrame"><code>DataFrame</code></a> is a <a href="../../reference/api/pandas.Series.html#pandas.Series" title="pandas.Series"><code>Series</code></a>.
As a single column is selected, the returned object is a pandas <a href="../../reference/api/pandas.Series.html#pandas.Series" title="pandas.Series"><code>Series</code></a>.
We can verify this by checking the type of the output:</p>

In [9]:
type(titanic["Age"])

pandas.core.series.Series

<p>And have a look at the <code>shape</code> of the output:</p>

In [13]:
titanic['Age'].shape

(891,)

<p><a href="../../reference/api/pandas.DataFrame.shape.html#pandas.DataFrame.shape" title="pandas.DataFrame.shape"><code>DataFrame.shape</code></a> is an attribute (remember <a href="02_read_write.html#min-tut-02-read-write">tutorial on reading and writing</a>, do not use parentheses for attributes) of a pandas <code>Series</code> and <code>DataFrame</code> containing the number of rows and
columns: <em>(nrows, ncolumns)</em>.
A pandas Series is 1-dimensional and only the number of rows is returned.</p>

<p>I’m interested in the age and sex of the Titanic passengers.</p>

In [14]:
age_sex = titanic[["Age", "Sex"]]

In [15]:
age_sex.head()

    Age     Sex
0  22.0    male
1  38.0  female
2  26.0  female
3  35.0  female
4  35.0    male

<p>To select multiple columns, use a list of column names within the
selection brackets <code>[]</code>.</p>

<p>Note</p>
<p>The inner square brackets define a <a href="https://docs.python.org/3/tutorial/datastructures.html#tut-morelists" title="(in Python v3.13)">Python list</a> with column names, whereas the outer brackets are used to select the data from a pandas <code>DataFrame</code> as seen in the previous example.</p>

<p>The returned data type is a pandas DataFrame:</p>

In [16]:
type(titanic[["Age", "Sex"]])

pandas.core.frame.DataFrame

In [17]:
titanic[["Age", "Sex"]].shape

(891, 2)

<p>The selection returned a <code>DataFrame</code> with 891 rows and 2 columns.
Remember, a <code>DataFrame</code> is 2-dimensional with both a row and column dimension.</p>

To user guide

<p>For basic information on indexing, see the user guide section on <a href="../../user_guide/indexing.html#indexing-basics">indexing and selecting data</a>.</p>

<h2>How do I filter specific rows from a <code>DataFrame</code>?</h2>

![image.png]()

<p>I’m interested in the passengers older than 35 years.</p>

In [18]:
above_35 = titanic[titanic["Age"] > 35]

In [19]:
above_35.head()

,ssengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S

<p>To select rows based on a conditional expression, use a condition inside
the selection brackets <code>[]</code>.</p>

<p>The condition inside the selection brackets <code>titanic["Age"] &gt; 35</code> checks for which rows the <code>Age</code>column has a value larger than 35:</p>

In [20]:
titanic["Age"] > 35

0      False
1       True
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Age, Length: 891, dtype: bool

<p>The output of the conditional expression (<code>&gt;</code>, but also <code>==</code>, <code>!=</code>, <code>&lt;</code>, <code>&lt;=</code>,… would work) is actually a pandas <code>Series</code> of boolean values (either <code>True</code> or <code>False</code>) with the same number of rows as the original <code>DataFrame</code>.
Such a <code>Series</code> of boolean values can be used to filter the <code>DataFrame</code> by putting it in between the selection brackets <code>[]</code>.
Only rows for which the value is <code>True</code> will be selected.</p>

<p>We know from before that the original Titanic <code>DataFrame</code> consists of 891 rows.
Let’s have a look at the number of rows which satisfy the
condition by checking the <code>shape</code> attribute of the resulting
<code>DataFrame</code> <code>above_35</code>:</p>

In [21]:
above_35.shape

(217, 12)

<p>I’m interested in the Titanic passengers from cabin class 2 and 3.</p>

In [26]:
class_23 = titanic[titanic["Pclass"].isin([2, 3])]

In [27]:
class_23.head()

,ssengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

<p>Note</p>

<p>When combining multiple conditional statements, each condition
must be surrounded by parentheses <code>()</code>.
Moreover, you can not use <code>or</code>/<code>and</code> but need to use the <code>or</code> operator <code>|</code> and the <code>and</code>
operator <code>&amp;</code>.</p>

To user guide

<p>See the dedicated section in the user guide about <a href="../../user_guide/indexing.html#indexing-boolean">boolean indexing</a> or about the <a href="../../user_guide/indexing.html#indexing-basics-indexing-isin">isin function</a>.</p>

<p>I want to work with passenger data for which the age is known.</p>

<p>The <a href="../../reference/api/pandas.Series.notna.html#pandas.Series.notna" title="pandas.Series.notna"><code>notna()</code></a> conditional function returns a <code>True</code> for each row the values are not a <code>Null</code> value.
As such, this can be combined with the selection brackets <code>[]</code> to filter the data table.</p>

In [28]:
age_no_na = titanic[titanic['Age'].notna()]

In [29]:
age_no_na.head()

,ssengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<p>The <a href="../../reference/api/pandas.Series.notna.html#pandas.Series.notna" title="pandas.Series.notna"><code>notna()</code></a> conditional function returns a <code>True</code> for each row the values are not a <code>Null</code> value.
As such, this can be combined with the selection brackets <code>[]</code> to filter the data table.</p>

<p>You might wonder what actually changed, as the first 5 lines are still
the same values. One way to verify is to check if the shape has changed:</p>

In [30]:
age_no_na.shape

(714, 12)

To user guide

<p>For more dedicated functions on missing values, see the user guide section about <a href="../../user_guide/missing_data.html#missing-data">handling missing data</a>.</p>