In [ ]:
import requests
import lxml
from bs4 import BeautifulSoup
import html5lib
import pandas as pd

In [ ]:
url = "https://cvmweb.cvm.gov.br/SWB/Sistemas/SCW/CPublica/CDA/CPublicaCDA.aspx?PK_PARTIC=165919&SemFrame="                                   # get page from a given url
response = requests.get(url)

In [ ]:
encoding = response.encoding                                    
page = response.content.decode(encoding)                      # decode page content in non human readable form

In [ ]:
formatted_page = BeautifulSoup(response.text, 'lxml')                     # format page in a human readable form

In [ ]:
table = pd.read_html(page, attrs = {'id': 'dlAplics'})                    # read table from html using pandas. Select table using id
table = table[0]
table

                                                   0   ...                                                 10
0   Lista de AplicaçõesClique sobre o ativo para m...  ...  Lista de AplicaçõesClique sobre o ativo para m...
1                                               Ativo  ...                                      Posição Final
2                                               Ativo  ...                                       % Patr. Líq.
3                                               Ativo  ...                                       % Patr. Líq.
4   DisponibilidadesDescrição: BANCO BRASIL CAIXAC...  ...                                               0072
5   Operações CompromissadasCod. SELIC: 100000Venc...  ...                                               0798
6   Títulos PúblicosCod. SELIC: 760199Venc.: 15/08...  ...                                              61391
7   Títulos PúblicosCod. SELIC: 760199Venc.: 15/05...  ...                                              37739
8   Títulos PúblicosCod. SELIC: 760199Venc.: 15/05...  ...                                                  0
9   Títulos PúblicosCod. SELIC: 760199Venc.: 15/08...  ...                                                  0
10            Valores a pagarDescrição: SELIC A PAGAR  ...                                                  0
11      Valores a pagarDescrição: DESP. CETIP A PAGAR  ...                                                  0
12        Valores a pagarDescrição: AUDITORIA A PAGAR  ...                                                  0
13     Valores a pagarDescrição: ORDEM COMPRA A PAGAR  ...                                                  0
14         Valores a receberDescrição: Outros Valores  ...                                                  0
15   Valores a receberDescrição: ANBID DIFER 31/01/22  ...                                                  0

[16 rows x 11 columns]

In [ ]:
table = table.drop(0, axis=0)
table

                                                   0   ...             10
1                                               Ativo  ...  Posição Final
2                                               Ativo  ...   % Patr. Líq.
3                                               Ativo  ...   % Patr. Líq.
4   DisponibilidadesDescrição: BANCO BRASIL CAIXAC...  ...           0072
5   Operações CompromissadasCod. SELIC: 100000Venc...  ...           0798
6   Títulos PúblicosCod. SELIC: 760199Venc.: 15/08...  ...          61391
7   Títulos PúblicosCod. SELIC: 760199Venc.: 15/05...  ...          37739
8   Títulos PúblicosCod. SELIC: 760199Venc.: 15/05...  ...              0
9   Títulos PúblicosCod. SELIC: 760199Venc.: 15/08...  ...              0
10            Valores a pagarDescrição: SELIC A PAGAR  ...              0
11      Valores a pagarDescrição: DESP. CETIP A PAGAR  ...              0
12        Valores a pagarDescrição: AUDITORIA A PAGAR  ...              0
13     Valores a pagarDescrição: ORDEM COMPRA A PAGAR  ...              0
14         Valores a receberDescrição: Outros Valores  ...              0
15   Valores a receberDescrição: ANBID DIFER 31/01/22  ...              0

[15 rows x 11 columns]