In [130]:
import pandas as pd
import numpy as np

In [131]:
try:
    df = pd.read_csv('Financial_Statement.csv', sep=';')
except Exception as e:
    print(f"Error: {e}")

In [132]:
df

,Código da Conta,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,1,Ativo Total,2.775.558,2.369.285
1,1.01,Ativo Circulante,1.875.214,1.651.950
2,1.01.01,Caixa e Equivalentes de Caixa,815.476,683.412
3,1.01.03,Contas a Receber,258.104,206.005
4,1.01.03.01,Clientes,258.104,206.005
5,1.01.04,Estoques,629.601,617.289
6,1.01.06,Tributos a Recuperar,92.690,80.862
7,1.01.08,Outros Ativos Circulantes,79.343,64.382
8,1.01.08.03,Outros,79.343,64.382
9,1.01.08.03.01,Ativos financeiros,12.153,16.059
10,1.01.08.03.03,Outras contas,53.490,39.511
11,1.01.08.03.04,Instrumentos financeiros derivativos,13.700,8.812
12,1.02,Ativo Não Circulante,900.344,717.335
13,1.02.01,Ativo Realizável a Longo Prazo,104.944,90.941
14,1.02.01.09,Créditos com Partes Relacionadas,12.773,9.730
15,1.02.01.09.02,Créditos com Controladas,12.773,9.730
16,1.02.01.10,Outros Ativos Não Circulantes,92.171,81.211
17,1.02.01.10.03,Tributos a recuperar,90.374,80.006
18,1.02.01.10.04,Instrumentos financeiros derivativos,893,0
19,1.02.01.10.05,Outras contas a receber,904,1.205
20,1.02.02,Investimentos,6.505,5.934
21,1.02.03,Imobilizado,786.627,619.172
22,1.02.04,Intangível,2.268,1.288

In [133]:
df.insert(1, 'Descrição da Conta 1', None)

In [134]:
df

,Código da Conta,Descrição da Conta 1,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,1,None,Ativo Total,2.775.558,2.369.285
1,1.01,None,Ativo Circulante,1.875.214,1.651.950
2,1.01.01,None,Caixa e Equivalentes de Caixa,815.476,683.412
3,1.01.03,None,Contas a Receber,258.104,206.005
4,1.01.03.01,None,Clientes,258.104,206.005
5,1.01.04,None,Estoques,629.601,617.289
6,1.01.06,None,Tributos a Recuperar,92.690,80.862
7,1.01.08,None,Outros Ativos Circulantes,79.343,64.382
8,1.01.08.03,None,Outros,79.343,64.382
9,1.01.08.03.01,None,Ativos financeiros,12.153,16.059
10,1.01.08.03.03,None,Outras contas,53.490,39.511
11,1.01.08.03.04,None,Instrumentos financeiros derivativos,13.700,8.812
12,1.02,None,Ativo Não Circulante,900.344,717.335
13,1.02.01,None,Ativo Realizável a Longo Prazo,104.944,90.941
14,1.02.01.09,None,Créditos com Partes Relacionadas,12.773,9.730
15,1.02.01.09.02,None,Créditos com Controladas,12.773,9.730
16,1.02.01.10,None,Outros Ativos Não Circulantes,92.171,81.211
17,1.02.01.10.03,None,Tributos a recuperar,90.374,80.006
18,1.02.01.10.04,None,Instrumentos financeiros derivativos,893,0
19,1.02.01.10.05,None,Outras contas a receber,904,1.205
20,1.02.02,None,Investimentos,6.505,5.934
21,1.02.03,None,Imobilizado,786.627,619.172
22,1.02.04,None,Intangível,2.268,1.288

In [135]:
df['Código da Conta']

0                 1
1              1.01
2           1.01.01
3           1.01.03
4        1.01.03.01
5           1.01.04
6           1.01.06
7           1.01.08
8        1.01.08.03
9     1.01.08.03.01
10    1.01.08.03.03
11    1.01.08.03.04
12             1.02
13          1.02.01
14       1.02.01.09
15    1.02.01.09.02
16       1.02.01.10
17    1.02.01.10.03
18    1.02.01.10.04
19    1.02.01.10.05
20          1.02.02
21          1.02.03
22          1.02.04
Name: Código da Conta, dtype: object

In [136]:
#df['Código da Conta'].apply(lambda string: string.startswith('1'))

In [137]:
CD_CONTA_1 = df['Código da Conta'].apply(lambda string: string[:1])
CD_CONTA_1

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
Name: Código da Conta, dtype: object

In [138]:
DS_CONTA_1 = pd.merge(CD_CONTA_1, df[['Código da Conta', 'Descrição da Conta']], how='left')
DS_CONTA_1

   Código da Conta Descrição da Conta
0                1        Ativo Total
1                1        Ativo Total
2                1        Ativo Total
3                1        Ativo Total
4                1        Ativo Total
5                1        Ativo Total
6                1        Ativo Total
7                1        Ativo Total
8                1        Ativo Total
9                1        Ativo Total
10               1        Ativo Total
11               1        Ativo Total
12               1        Ativo Total
13               1        Ativo Total
14               1        Ativo Total
15               1        Ativo Total
16               1        Ativo Total
17               1        Ativo Total
18               1        Ativo Total
19               1        Ativo Total
20               1        Ativo Total
21               1        Ativo Total
22               1        Ativo Total

In [139]:
df['Descrição da Conta 1'] = DS_CONTA_1['Descrição da Conta']

In [140]:
df

,Código da Conta,Descrição da Conta 1,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,1,Ativo Total,Ativo Total,2.775.558,2.369.285
1,1.01,Ativo Total,Ativo Circulante,1.875.214,1.651.950
2,1.01.01,Ativo Total,Caixa e Equivalentes de Caixa,815.476,683.412
3,1.01.03,Ativo Total,Contas a Receber,258.104,206.005
4,1.01.03.01,Ativo Total,Clientes,258.104,206.005
5,1.01.04,Ativo Total,Estoques,629.601,617.289
6,1.01.06,Ativo Total,Tributos a Recuperar,92.690,80.862
7,1.01.08,Ativo Total,Outros Ativos Circulantes,79.343,64.382
8,1.01.08.03,Ativo Total,Outros,79.343,64.382
9,1.01.08.03.01,Ativo Total,Ativos financeiros,12.153,16.059
10,1.01.08.03.03,Ativo Total,Outras contas,53.490,39.511
11,1.01.08.03.04,Ativo Total,Instrumentos financeiros derivativos,13.700,8.812
12,1.02,Ativo Total,Ativo Não Circulante,900.344,717.335
13,1.02.01,Ativo Total,Ativo Realizável a Longo Prazo,104.944,90.941
14,1.02.01.09,Ativo Total,Créditos com Partes Relacionadas,12.773,9.730
15,1.02.01.09.02,Ativo Total,Créditos com Controladas,12.773,9.730
16,1.02.01.10,Ativo Total,Outros Ativos Não Circulantes,92.171,81.211
17,1.02.01.10.03,Ativo Total,Tributos a recuperar,90.374,80.006
18,1.02.01.10.04,Ativo Total,Instrumentos financeiros derivativos,893,0
19,1.02.01.10.05,Ativo Total,Outras contas a receber,904,1.205
20,1.02.02,Ativo Total,Investimentos,6.505,5.934
21,1.02.03,Ativo Total,Imobilizado,786.627,619.172
22,1.02.04,Ativo Total,Intangível,2.268,1.288

In [141]:
# for index, row in df.iterrows():
#   id_code = row['Código da Conta']
#   if len(id_code) == 1:
#     df = df.drop([index])

In [142]:
l = [len(k) for k in df['Código da Conta']]

In [143]:
m = np.array(l).min()  # m = minimum length

In [144]:
i = np.where(l==m)  # i = index of 'código' with minimum length

In [145]:
df.iloc[i]

,Código da Conta,Descrição da Conta 1,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,1,Ativo Total,Ativo Total,2.775.558,2.369.285

In [148]:
df = df.drop(df.index[i])

In [149]:
df.insert(2, 'Descrição da Conta 2', None)

In [150]:
df

,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta,Trimestre Atual,Exercício Anterior
1,1.01,Ativo Total,None,Ativo Circulante,1.875.214,1.651.950
2,1.01.01,Ativo Total,None,Caixa e Equivalentes de Caixa,815.476,683.412
3,1.01.03,Ativo Total,None,Contas a Receber,258.104,206.005
4,1.01.03.01,Ativo Total,None,Clientes,258.104,206.005
5,1.01.04,Ativo Total,None,Estoques,629.601,617.289
6,1.01.06,Ativo Total,None,Tributos a Recuperar,92.690,80.862
7,1.01.08,Ativo Total,None,Outros Ativos Circulantes,79.343,64.382
8,1.01.08.03,Ativo Total,None,Outros,79.343,64.382
9,1.01.08.03.01,Ativo Total,None,Ativos financeiros,12.153,16.059
10,1.01.08.03.03,Ativo Total,None,Outras contas,53.490,39.511
11,1.01.08.03.04,Ativo Total,None,Instrumentos financeiros derivativos,13.700,8.812
12,1.02,Ativo Total,None,Ativo Não Circulante,900.344,717.335
13,1.02.01,Ativo Total,None,Ativo Realizável a Longo Prazo,104.944,90.941
14,1.02.01.09,Ativo Total,None,Créditos com Partes Relacionadas,12.773,9.730
15,1.02.01.09.02,Ativo Total,None,Créditos com Controladas,12.773,9.730
16,1.02.01.10,Ativo Total,None,Outros Ativos Não Circulantes,92.171,81.211
17,1.02.01.10.03,Ativo Total,None,Tributos a recuperar,90.374,80.006
18,1.02.01.10.04,Ativo Total,None,Instrumentos financeiros derivativos,893,0
19,1.02.01.10.05,Ativo Total,None,Outras contas a receber,904,1.205
20,1.02.02,Ativo Total,None,Investimentos,6.505,5.934
21,1.02.03,Ativo Total,None,Imobilizado,786.627,619.172
22,1.02.04,Ativo Total,None,Intangível,2.268,1.288

In [151]:
CD_CONTA_2 = df['Código da Conta'].apply(lambda string: string[:4])
CD_CONTA_2

1     1.01
2     1.01
3     1.01
4     1.01
5     1.01
6     1.01
7     1.01
8     1.01
9     1.01
10    1.01
11    1.01
12    1.02
13    1.02
14    1.02
15    1.02
16    1.02
17    1.02
18    1.02
19    1.02
20    1.02
21    1.02
22    1.02
Name: Código da Conta, dtype: object

In [152]:
DS_CONTA_2 = pd.merge(CD_CONTA_2, df[['Código da Conta', 'Descrição da Conta']], how='left')
DS_CONTA_2

   Código da Conta    Descrição da Conta
0             1.01      Ativo Circulante
1             1.01      Ativo Circulante
2             1.01      Ativo Circulante
3             1.01      Ativo Circulante
4             1.01      Ativo Circulante
5             1.01      Ativo Circulante
6             1.01      Ativo Circulante
7             1.01      Ativo Circulante
8             1.01      Ativo Circulante
9             1.01      Ativo Circulante
10            1.01      Ativo Circulante
11            1.02  Ativo Não Circulante
12            1.02  Ativo Não Circulante
13            1.02  Ativo Não Circulante
14            1.02  Ativo Não Circulante
15            1.02  Ativo Não Circulante
16            1.02  Ativo Não Circulante
17            1.02  Ativo Não Circulante
18            1.02  Ativo Não Circulante
19            1.02  Ativo Não Circulante
20            1.02  Ativo Não Circulante
21            1.02  Ativo Não Circulante

In [153]:
df['Descrição da Conta 2'] = DS_CONTA_2['Descrição da Conta']
df

,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta,Trimestre Atual,Exercício Anterior
1,1.01,Ativo Total,Ativo Circulante,Ativo Circulante,1.875.214,1.651.950
2,1.01.01,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,815.476,683.412
3,1.01.03,Ativo Total,Ativo Circulante,Contas a Receber,258.104,206.005
4,1.01.03.01,Ativo Total,Ativo Circulante,Clientes,258.104,206.005
5,1.01.04,Ativo Total,Ativo Circulante,Estoques,629.601,617.289
6,1.01.06,Ativo Total,Ativo Circulante,Tributos a Recuperar,92.690,80.862
7,1.01.08,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,79.343,64.382
8,1.01.08.03,Ativo Total,Ativo Circulante,Outros,79.343,64.382
9,1.01.08.03.01,Ativo Total,Ativo Circulante,Ativos financeiros,12.153,16.059
10,1.01.08.03.03,Ativo Total,Ativo Circulante,Outras contas,53.490,39.511
11,1.01.08.03.04,Ativo Total,Ativo Não Circulante,Instrumentos financeiros derivativos,13.700,8.812
12,1.02,Ativo Total,Ativo Não Circulante,Ativo Não Circulante,900.344,717.335
13,1.02.01,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,104.944,90.941
14,1.02.01.09,Ativo Total,Ativo Não Circulante,Créditos com Partes Relacionadas,12.773,9.730
15,1.02.01.09.02,Ativo Total,Ativo Não Circulante,Créditos com Controladas,12.773,9.730
16,1.02.01.10,Ativo Total,Ativo Não Circulante,Outros Ativos Não Circulantes,92.171,81.211
17,1.02.01.10.03,Ativo Total,Ativo Não Circulante,Tributos a recuperar,90.374,80.006
18,1.02.01.10.04,Ativo Total,Ativo Não Circulante,Instrumentos financeiros derivativos,893,0
19,1.02.01.10.05,Ativo Total,Ativo Não Circulante,Outras contas a receber,904,1.205
20,1.02.02,Ativo Total,Ativo Não Circulante,Investimentos,6.505,5.934
21,1.02.03,Ativo Total,Ativo Não Circulante,Imobilizado,786.627,619.172
22,1.02.04,Ativo Total,NaN,Intangível,2.268,1.288

In [154]:
# for index, row in df.iterrows():
#  id_code = row['Código da Conta']
#  if len(id_code) == 4:
#    df = df.drop([index])
# df

In [155]:
l = [len(k) for k in df['Código da Conta']]

In [156]:
m = np.array(l).min()  # m = minimum length

In [157]:
i = np.where(l==m)  # i = index of 'código' with minimum length

In [158]:
df.iloc[i]

,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta,Trimestre Atual,Exercício Anterior
1,1.01,Ativo Total,Ativo Circulante,Ativo Circulante,1.875.214,1.651.950
12,1.02,Ativo Total,Ativo Não Circulante,Ativo Não Circulante,900.344,717.335

In [159]:
df = df.drop(df.index[i])

In [160]:
df.insert(3, 'Descrição da Conta 3', None)
df

,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta 3,Descrição da Conta,Trimestre Atual,Exercício Anterior
2,1.01.01,Ativo Total,Ativo Circulante,None,Caixa e Equivalentes de Caixa,815.476,683.412
3,1.01.03,Ativo Total,Ativo Circulante,None,Contas a Receber,258.104,206.005
4,1.01.03.01,Ativo Total,Ativo Circulante,None,Clientes,258.104,206.005
5,1.01.04,Ativo Total,Ativo Circulante,None,Estoques,629.601,617.289
6,1.01.06,Ativo Total,Ativo Circulante,None,Tributos a Recuperar,92.690,80.862
7,1.01.08,Ativo Total,Ativo Circulante,None,Outros Ativos Circulantes,79.343,64.382
8,1.01.08.03,Ativo Total,Ativo Circulante,None,Outros,79.343,64.382
9,1.01.08.03.01,Ativo Total,Ativo Circulante,None,Ativos financeiros,12.153,16.059
10,1.01.08.03.03,Ativo Total,Ativo Circulante,None,Outras contas,53.490,39.511
11,1.01.08.03.04,Ativo Total,Ativo Não Circulante,None,Instrumentos financeiros derivativos,13.700,8.812
13,1.02.01,Ativo Total,Ativo Não Circulante,None,Ativo Realizável a Longo Prazo,104.944,90.941
14,1.02.01.09,Ativo Total,Ativo Não Circulante,None,Créditos com Partes Relacionadas,12.773,9.730
15,1.02.01.09.02,Ativo Total,Ativo Não Circulante,None,Créditos com Controladas,12.773,9.730
16,1.02.01.10,Ativo Total,Ativo Não Circulante,None,Outros Ativos Não Circulantes,92.171,81.211
17,1.02.01.10.03,Ativo Total,Ativo Não Circulante,None,Tributos a recuperar,90.374,80.006
18,1.02.01.10.04,Ativo Total,Ativo Não Circulante,None,Instrumentos financeiros derivativos,893,0
19,1.02.01.10.05,Ativo Total,Ativo Não Circulante,None,Outras contas a receber,904,1.205
20,1.02.02,Ativo Total,Ativo Não Circulante,None,Investimentos,6.505,5.934
21,1.02.03,Ativo Total,Ativo Não Circulante,None,Imobilizado,786.627,619.172
22,1.02.04,Ativo Total,NaN,None,Intangível,2.268,1.288

In [161]:
CD_CONTA_3 = df['Código da Conta'].apply(lambda string: string[:7])
CD_CONTA_3

2     1.01.01
3     1.01.03
4     1.01.03
5     1.01.04
6     1.01.06
7     1.01.08
8     1.01.08
9     1.01.08
10    1.01.08
11    1.01.08
13    1.02.01
14    1.02.01
15    1.02.01
16    1.02.01
17    1.02.01
18    1.02.01
19    1.02.01
20    1.02.02
21    1.02.03
22    1.02.04
Name: Código da Conta, dtype: object

In [162]:
DS_CONTA_3 = pd.merge(CD_CONTA_3, df[['Código da Conta', 'Descrição da Conta']], how='left')
DS_CONTA_3

   Código da Conta              Descrição da Conta
0          1.01.01   Caixa e Equivalentes de Caixa
1          1.01.03                Contas a Receber
2          1.01.03                Contas a Receber
3          1.01.04                        Estoques
4          1.01.06            Tributos a Recuperar
5          1.01.08       Outros Ativos Circulantes
6          1.01.08       Outros Ativos Circulantes
7          1.01.08       Outros Ativos Circulantes
8          1.01.08       Outros Ativos Circulantes
9          1.01.08       Outros Ativos Circulantes
10         1.02.01  Ativo Realizável a Longo Prazo
11         1.02.01  Ativo Realizável a Longo Prazo
12         1.02.01  Ativo Realizável a Longo Prazo
13         1.02.01  Ativo Realizável a Longo Prazo
14         1.02.01  Ativo Realizável a Longo Prazo
15         1.02.01  Ativo Realizável a Longo Prazo
16         1.02.01  Ativo Realizável a Longo Prazo
17         1.02.02                   Investimentos
18         1.02.03                     Imobilizado
19         1.02.04                      Intangível

In [163]:
df['Descrição da Conta 3'] = DS_CONTA_3['Descrição da Conta']
df

,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta 3,Descrição da Conta,Trimestre Atual,Exercício Anterior
2,1.01.01,Ativo Total,Ativo Circulante,Contas a Receber,Caixa e Equivalentes de Caixa,815.476,683.412
3,1.01.03,Ativo Total,Ativo Circulante,Estoques,Contas a Receber,258.104,206.005
4,1.01.03.01,Ativo Total,Ativo Circulante,Tributos a Recuperar,Clientes,258.104,206.005
5,1.01.04,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Estoques,629.601,617.289
6,1.01.06,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Tributos a Recuperar,92.690,80.862
7,1.01.08,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros Ativos Circulantes,79.343,64.382
8,1.01.08.03,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros,79.343,64.382
9,1.01.08.03.01,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Ativos financeiros,12.153,16.059
10,1.01.08.03.03,Ativo Total,Ativo Circulante,Ativo Realizável a Longo Prazo,Outras contas,53.490,39.511
11,1.01.08.03.04,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Instrumentos financeiros derivativos,13.700,8.812
13,1.02.01,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Ativo Realizável a Longo Prazo,104.944,90.941
14,1.02.01.09,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Créditos com Partes Relacionadas,12.773,9.730
15,1.02.01.09.02,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Créditos com Controladas,12.773,9.730
16,1.02.01.10,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Outros Ativos Não Circulantes,92.171,81.211
17,1.02.01.10.03,Ativo Total,Ativo Não Circulante,Investimentos,Tributos a recuperar,90.374,80.006
18,1.02.01.10.04,Ativo Total,Ativo Não Circulante,Imobilizado,Instrumentos financeiros derivativos,893,0
19,1.02.01.10.05,Ativo Total,Ativo Não Circulante,Intangível,Outras contas a receber,904,1.205
20,1.02.02,Ativo Total,Ativo Não Circulante,NaN,Investimentos,6.505,5.934
21,1.02.03,Ativo Total,Ativo Não Circulante,NaN,Imobilizado,786.627,619.172
22,1.02.04,Ativo Total,NaN,NaN,Intangível,2.268,1.288

In [ ]:
# Agora preciso "dropar" os Códigos de comprimento 7, porém somente se eles são uma categoria superior de alguma subcategoria.
# Se não, não precisa cortar. Por exemplo: 1.01.01 não tem nenhuma outra subcategoria, então eu não vou cortar fora.
# 1.01.03, ao contrário, tem um elemento: 1.01.03.01. Logo, a linha correspondente pode ser cortada fora.
# Como fazer isso?
# Além disso: como resolver o problema dos NaN?