https://docs.python.org/3/library/datetime.html#datetime.date
https://pandas.pydata.org/docs/getting_started/intro_tutorials/09_timeseries.html

<h2><a class="reference internal" href="#datetime.date" title="datetime.date"><code class="xref py py-class docutils literal notranslate"><span class="pre">date</span></code></a> Objects<a class="headerlink" href="#date-objects" title="Permalink to this headline">¶</a></h2>

<p>A <a class="reference internal" href="#datetime.date" title="datetime.date"><code class="xref py py-class docutils literal notranslate"><span class="pre">date</span></code></a> object represents a date (year, month and day) in an idealized
calendar, the current Gregorian calendar indefinitely extended in both
directions.</p>

<p>January 1 of year 1 is called day number 1, January 2 of year 1 is
called day number 2, and so on. <a class="footnote-reference brackets" href="#id6" id="id2">2</a></p>

<dl class="py class">
<dt id="datetime.date">
<em class="property">class </em><code class="sig-prename descclassname">datetime.</code><code class="sig-name descname">date</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">year</span></em>, <em class="sig-param"><span class="n">month</span></em>, <em class="sig-param"><span class="n">day</span></em><span class="sig-paren">)</span><a class="headerlink" href="#datetime.date" title="Permalink to this definition">¶</a></dt>
<dd><p>All arguments are required. Arguments must be integers, in the following
ranges:</p>
<ul class="simple">
<li><p><code class="docutils literal notranslate"><span class="pre">MINYEAR</span> <span class="pre">&lt;=</span> <span class="pre">year</span> <span class="pre">&lt;=</span> <span class="pre">MAXYEAR</span></code></p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">1</span> <span class="pre">&lt;=</span> <span class="pre">month</span> <span class="pre">&lt;=</span> <span class="pre">12</span></code></p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">1</span> <span class="pre">&lt;=</span> <span class="pre">day</span> <span class="pre">&lt;=</span> <span class="pre">number</span> <span class="pre">of</span> <span class="pre">days</span> <span class="pre">in</span> <span class="pre">the</span> <span class="pre">given</span> <span class="pre">month</span> <span class="pre">and</span> <span class="pre">year</span></code></p></li>
</ul>
<p>If an argument outside those ranges is given, <a class="reference internal" href="exceptions.html#ValueError" title="ValueError"><code class="xref py py-exc docutils literal notranslate"><span class="pre">ValueError</span></code></a> is raised.</p>
</dd></dl>

<p>Other constructors, all class methods:</p>

<dl class="py method">
<dt id="datetime.date.today">
<em class="property">classmethod </em><code class="sig-prename descclassname">date.</code><code class="sig-name descname">today</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#datetime.date.today" title="Permalink to this definition">¶</a></dt>
<dd><p>Return the current local date.</p>
<p>This is equivalent to <code class="docutils literal notranslate"><span class="pre">date.fromtimestamp(time.time())</span></code>.</p>
</dd></dl>

<h3>Examples of Usage: <a class="reference internal" href="#datetime.date" title="datetime.date"><code class="xref py py-class docutils literal notranslate"><span class="pre">date</span></code></a><a class="headerlink" href="#examples-of-usage-date" title="Permalink to this headline">¶</a></h3>

In [10]:
from datetime import date
today = date.today()
today

datetime.date(2022, 10, 17)

<p>Instance attributes (read-only):</p>

<dl class="py attribute">
<dt id="datetime.date.year">
<code class="sig-prename descclassname">date.</code><code class="sig-name descname">year</code><a class="headerlink" href="#datetime.date.year" title="Permalink to this definition">¶</a></dt>
<dd><p>Between <a class="reference internal" href="#datetime.MINYEAR" title="datetime.MINYEAR"><code class="xref py py-const docutils literal notranslate"><span class="pre">MINYEAR</span></code></a> and <a class="reference internal" href="#datetime.MAXYEAR" title="datetime.MAXYEAR"><code class="xref py py-const docutils literal notranslate"><span class="pre">MAXYEAR</span></code></a> inclusive.</p>
</dd></dl>

<dl class="py attribute">
<dt id="datetime.date.month">
<code class="sig-prename descclassname">date.</code><code class="sig-name descname">month</code><a class="headerlink" href="#datetime.date.month" title="Permalink to this definition">¶</a></dt>
<dd><p>Between 1 and 12 inclusive.</p>
</dd></dl>

<dl class="py attribute">
<dt id="datetime.date.day">
<code class="sig-prename descclassname">date.</code><code class="sig-name descname">day</code><a class="headerlink" href="#datetime.date.day" title="Permalink to this definition">¶</a></dt>
<dd><p>Between 1 and the number of days in the given month of the given year.</p>
</dd></dl>

In [6]:
today.year

2022

In [7]:
today.month

10

In [8]:
today.day

17

<p>Instance methods:</p>

<dl class="py method">
<dt id="datetime.date.replace">
<code class="sig-prename descclassname">date.</code><code class="sig-name descname">replace</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">year</span><span class="o">=</span><span class="default_value">self.year</span></em>, <em class="sig-param"><span class="n">month</span><span class="o">=</span><span class="default_value">self.month</span></em>, <em class="sig-param"><span class="n">day</span><span class="o">=</span><span class="default_value">self.day</span></em><span class="sig-paren">)</span><a class="headerlink" href="#datetime.date.replace" title="Permalink to this definition">¶</a></dt>
<dd><p>Return a date with the same value, except for those parameters given new
values by whichever keyword arguments are specified.</p>
</dd></dl>

In [9]:
d = date(2012, 12, 31)
d.replace(day=26)

datetime.date(2012, 12, 26)

<span id="datetime-datetime"></span><h2><a class="reference internal" href="#datetime.datetime" title="datetime.datetime"><code class="xref py py-class docutils literal notranslate"><span class="pre">datetime</span></code></a> Objects<a class="headerlink" href="#datetime-objects" title="Permalink to this headline">¶</a></h2>
<p>A <a class="reference internal" href="#datetime.datetime" title="datetime.datetime"><code class="xref py py-class docutils literal notranslate"><span class="pre">datetime</span></code></a> object is a single object containing all the information
from a <a class="reference internal" href="#datetime.date" title="datetime.date"><code class="xref py py-class docutils literal notranslate"><span class="pre">date</span></code></a> object and a <a class="reference internal" href="#datetime.time" title="datetime.time"><code class="xref py py-class docutils literal notranslate"><span class="pre">time</span></code></a> object.</p>
<p>Like a <a class="reference internal" href="#datetime.date" title="datetime.date"><code class="xref py py-class docutils literal notranslate"><span class="pre">date</span></code></a> object, <a class="reference internal" href="#datetime.datetime" title="datetime.datetime"><code class="xref py py-class docutils literal notranslate"><span class="pre">datetime</span></code></a> assumes the current Gregorian
calendar extended in both directions; like a <a class="reference internal" href="#datetime.time" title="datetime.time"><code class="xref py py-class docutils literal notranslate"><span class="pre">time</span></code></a> object,
<a class="reference internal" href="#datetime.datetime" title="datetime.datetime"><code class="xref py py-class docutils literal notranslate"><span class="pre">datetime</span></code></a> assumes there are exactly 3600*24 seconds in every day.</p>
<p>Constructor:</p>
<dl class="py class">
<dt id="datetime.datetime">
<em class="property">class </em><code class="sig-prename descclassname">datetime.</code><code class="sig-name descname">datetime</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">year</span></em>, <em class="sig-param"><span class="n">month</span></em>, <em class="sig-param"><span class="n">day</span></em>, <em class="sig-param"><span class="n">hour</span><span class="o">=</span><span class="default_value">0</span></em>, <em class="sig-param"><span class="n">minute</span><span class="o">=</span><span class="default_value">0</span></em>, <em class="sig-param"><span class="n">second</span><span class="o">=</span><span class="default_value">0</span></em>, <em class="sig-param"><span class="n">microsecond</span><span class="o">=</span><span class="default_value">0</span></em>, <em class="sig-param"><span class="n">tzinfo</span><span class="o">=</span><span class="default_value">None</span></em>, <em class="sig-param"><span class="o">*</span></em>, <em class="sig-param"><span class="n">fold</span><span class="o">=</span><span class="default_value">0</span></em><span class="sig-paren">)</span><a class="headerlink" href="#datetime.datetime" title="Permalink to this definition">¶</a></dt>
<dd><p>The <em>year</em>, <em>month</em> and <em>day</em> arguments are required. <em>tzinfo</em> may be <code class="docutils literal notranslate"><span class="pre">None</span></code>, or an
instance of a <a class="reference internal" href="#datetime.tzinfo" title="datetime.tzinfo"><code class="xref py py-class docutils literal notranslate"><span class="pre">tzinfo</span></code></a> subclass. The remaining arguments must be integers
in the following ranges:</p>
<ul class="simple">
<li><p><code class="docutils literal notranslate"><span class="pre">MINYEAR</span> <span class="pre">&lt;=</span> <span class="pre">year</span> <span class="pre">&lt;=</span> <span class="pre">MAXYEAR</span></code>,</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">1</span> <span class="pre">&lt;=</span> <span class="pre">month</span> <span class="pre">&lt;=</span> <span class="pre">12</span></code>,</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">1</span> <span class="pre">&lt;=</span> <span class="pre">day</span> <span class="pre">&lt;=</span> <span class="pre">number</span> <span class="pre">of</span> <span class="pre">days</span> <span class="pre">in</span> <span class="pre">the</span> <span class="pre">given</span> <span class="pre">month</span> <span class="pre">and</span> <span class="pre">year</span></code>,</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">0</span> <span class="pre">&lt;=</span> <span class="pre">hour</span> <span class="pre">&lt;</span> <span class="pre">24</span></code>,</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">0</span> <span class="pre">&lt;=</span> <span class="pre">minute</span> <span class="pre">&lt;</span> <span class="pre">60</span></code>,</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">0</span> <span class="pre">&lt;=</span> <span class="pre">second</span> <span class="pre">&lt;</span> <span class="pre">60</span></code>,</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">0</span> <span class="pre">&lt;=</span> <span class="pre">microsecond</span> <span class="pre">&lt;</span> <span class="pre">1000000</span></code>,</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">fold</span> <span class="pre">in</span> <span class="pre">[0,</span> <span class="pre">1]</span></code>.</p></li>
</ul>
<p>If an argument outside those ranges is given, <a class="reference internal" href="exceptions.html#ValueError" title="ValueError"><code class="xref py py-exc docutils literal notranslate"><span class="pre">ValueError</span></code></a> is raised.</p>
<div class="versionadded">
<p><span class="versionmodified added">New in version 3.6: </span>Added the <code class="docutils literal notranslate"><span class="pre">fold</span></code> argument.</p>
</div>
</dd></dl>


<h1>How to handle time series data with ease</h1>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
air_quality = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/air_quality_no2_long.csv")

In [ ]:
air_quality.head()

    city country                   date.utc location parameter  value   unit
0  Paris      FR  2019-06-21 00:00:00+00:00  FR04014       no2   20.0  µg/m³
1  Paris      FR  2019-06-20 23:00:00+00:00  FR04014       no2   21.8  µg/m³
2  Paris      FR  2019-06-20 22:00:00+00:00  FR04014       no2   26.5  µg/m³
3  Paris      FR  2019-06-20 21:00:00+00:00  FR04014       no2   24.9  µg/m³
4  Paris      FR  2019-06-20 20:00:00+00:00  FR04014       no2   21.4  µg/m³

In [ ]:
air_quality['date.utc'].head()

0    2019-06-21 00:00:00+00:00
1    2019-06-20 23:00:00+00:00
2    2019-06-20 22:00:00+00:00
3    2019-06-20 21:00:00+00:00
4    2019-06-20 20:00:00+00:00
Name: date.utc, dtype: object

We want to work with the dates in the column **date.utc** as datetime instead of object type

In [ ]:
air_quality['date.utc'] = pd.to_datetime(air_quality['date.utc'])

In [ ]:
air_quality['date.utc'].head()

0   2019-06-21 00:00:00+00:00
1   2019-06-20 23:00:00+00:00
2   2019-06-20 22:00:00+00:00
3   2019-06-20 21:00:00+00:00
4   2019-06-20 20:00:00+00:00
Name: date.utc, dtype: datetime64[ns, UTC]

Initially, the values in **date.utc** are character strings and do not provide any datetime operations (e.g. extract the year, day of the week,…). By applying the **to_datetime** function, pandas interprets the strings and convert these to datetime (i.e. **datetime64[ns, UTC]**) objects. In pandas we call these datetime objects similar to **datetime.datetime** from the standard library as **pandas.Timestamp**.

As many data sets do contain datetime information in one of the columns, pandas input function like **pandas.read_csv()** and **pandas.read_json()** can do the transformation to dates when reading the data using the **parse_dates** parameter with a list of the columns to read as Timestamp:

In [ ]:
air_quality = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/air_quality_no2_long.csv", parse_dates=["date.utc"])

In [ ]:
air_quality['date.utc'].head()

0   2019-06-21 00:00:00+00:00
1   2019-06-20 23:00:00+00:00
2   2019-06-20 22:00:00+00:00
3   2019-06-20 21:00:00+00:00
4   2019-06-20 20:00:00+00:00
Name: date.utc, dtype: datetime64[ns, UTC]